<article class="group flex flex-col gap-2">
  <div class="relative">
    <a [routerLink]="['/product', product().id]" class="block" [attr.aria-label]="'Ver ' + product().name">
      @if (product().imageUrl) {
        <img
          [src]="product().imageUrl"
          [alt]="product().name"
          class="w-full aspect-square object-cover rounded-2xl bg-neutral-50 md:group-hover:brightness-75"
        />
      } @else {
        <div class="w-full aspect-square rounded-2xl bg-neutral-50 md:group-hover:opacity-50"></div>
      }
    </a>
    <div
      class="absolute inset-0 flex items-center justify-center md:opacity-0 md:group-hover:opacity-100 md:group-focus-within:opacity-100"
    >
      <button
        type="button"
        (click)="add()"
        [attr.aria-label]="'Agregar ' + product().name + ' al carrito'"
        class="cursor-pointer rounded-2xl bg-orange-500 p-2 text-white"
      >
        <app-add-icon />
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <a [routerLink]="['/product', product().id]">
      <h3 class="text-sm text-neutral-900">{{ product().name }}</h3>
    </a>
    @if (product().description) {
      <p class="text-sm text-neutral-500 line-clamp-1">{{ product().description }}</p>
    }
    <p class="text-sm text-orange-500">{{ product().price | currency: 'PEN' : 'S/ ' : '1.2-2' }}</p>
  </div>
</article>
