@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex&display=swap');
@import 'tailwindcss';

@utility main-transition {
  transition: all 300ms ease-out;
}

body {
  background-color: #ffffff;
  font-family: 'Google Sans Flex', sans-serif;
  font-weight: 400;
}
